/*@media only mobile {@import "mobile.css";}
@media screen {@import "desktop.css";}*/
  {
  margin: 0;
  padding: 0;
}
body {
  font-family:Times New Roman, Georgia, Garamond,serif;
  color: black;
  font-size: large;
  background-color: #F0FFFF;
  /*background-image: url(%BGIMAGE%);*/
  background-image: url("clearsky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body img {
  height: 72px;
 width: 72px;
}
body table {
  border: none;
}
h1 {
 text-transform: capitalize;
}
body button  {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-14:active {
  border-bottom-color: #a2a6ac;
}

.button-14:active:hover {
  border-bottom-color: #a2a6ac;
}

.button-14:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.button-14:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}
}
